<body>
    <script defer src="scripts/nickname.js"></script>
    <script defer src="scripts/ws_play.js"></script>
    <script defer src="scripts/ctrl.js"></script>
    <span id="statusdot" class="dot"></span>
    <div class="vcontainer">
        <h1 id="nickname"></h1>
        <div>
            <img id="image" class="center" src="images/newgame.png" alt="Dingbat clue">
        </div>
        <div id="soln" class="center" style="display: none;"></div>
        <div class="hcontainer">
            <span id="time" class="timer">--:--</span>
            <span>SCORE: <span id="score">0</span>/<span id="shown">0</span> </span>
        </div>

        <div class="center ctrlpanel">
            <button style="margin-left: auto; margin-right: auto"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                id="startbutton">
                Start Game
            </button>

            <button style="margin-left: auto; margin-right: auto; display:none"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button" id="correctbutton">
                Correct
            </button>

            <button style="margin-left: auto; margin-right: auto; display:none"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button" id="passbutton">
                Pass
            </button>
        </div>
        <div id="setduration" class="center">
            <p>Set game duration (mins):
                <input id="duration" type="text" value="3">
            </p>
        </div>
    </div>
</body>