<body>
    <script defer src="scripts/index.js"></script>
    <div class="vcontainer center-screen">
        <form method="post">
            <h1>Select Role</h1>
            <p></p><input type="text" name="user[nickname]" id="nickname" placeholder="Enter your name"
                data-lpignore="true" autocomplete="off" required>
            <p></p>
            <p><button type="submit" formaction="/play" id="play" style="margin-left: auto; margin-right: auto;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button">
                    Guesser
                </button></p>
            <p><button type="submit" formaction="/ctrl" id="ctrl" style="margin-left: auto; margin-right: auto;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button">
                    Quizmaster
                </button></p>
        </form>
    </div>
</body>

</html>