<script defer src="scripts/index.js"></script>
<div class="vcontainer center-screen">
    <form>
        <h1>Dingbats</h1>
        <p></p><input type="text" name="player[nickname]" id="nickname" placeholder="Enter your name" class="buttontext"
            data-lpignore="true" autocomplete="off" required style="min-width:160px;">
        <p></p>
        <p><button id="joinbutton" style="margin-left: auto; margin-right: auto; min-width:160px;"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button">
                Join Game
            </button></p>
        <p><button id="ctrlbutton" style="margin-left: auto; margin-right: auto; min-width:160px;"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button">
                Quizmaster
            </button></p>
    </form>
</div>