<div>
    <img class="center" src="{{imagepath}}" alt="Dingbat clue">
    <script src="scripts/timer.js" data-endtime="{{endTime}}"></script>
    <span class="center timer" id="time">--:--</span>
</div>