body {
  background-color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  font-size: 3vw;
}

h1 {
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin: 0;
}

input, select, textarea {  
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box; 
}

input:focus::placeholder {
  color: transparent;
}

.vcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
}

.hcontainer {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5vw;
}

.timer {
  color: black;
  font-size: 200%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blinking {
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  0% {
    color: #b00020;
  }
  49% {
    color: #b00020;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #b00020;
  }
}

.ctrlpanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 0;
}

.dot {
  width: 1vw;
  height: 1vw;
  background-color: #b00020;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 1%;
  right: 1%;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* .textin {
  border:8px solid #ccc;
  padding: 8px;
  margin:10px 0 2.5px 0;
} */

.buttontext{
  caret-color: rgb(218, 205, 205);
  background:0 0;
  border:0 solid ;
  position:relative;
  height:36px;
  margin:0;
  min-width:64px;
  padding:0 16px;
  display:inline-block;
  font-family:"Roboto Mono","Helvetica","Arial",sans-serif;
  font-size:18px;
  font-weight:500;
  letter-spacing:0;
  overflow:hidden;
  outline:none;
  /* text-transform:uppercase; */
  text-decoration:none;
  text-align:center;
  line-height:36px;
  vertical-align:middle;
}
